


.experience-section {
  
  color: white;
  padding: 80px 40px;
}

.experience-container {
  max-width: 1200px;
  margin: auto;
}

.experience-container h1{
  font-size: 2.8rem;
  margin-bottom: 40px;
  text-align: center;
  color: wheat;
  font-weight: bold;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.experience-card {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
}

.experience-year {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #00ffab;
  color: #00ffab;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 20px;
}

.experience-card h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience-card h4 {
  font-size: 1.1rem;
  color: #cccccc;
  margin-bottom: 10px;
}

.experience-location {
  font-size: 0.95rem;
  color: #888;
  margin-bottom: 10px;
}

.experience-projects {
  list-style: disc;
  margin-top: 10px;
  padding-left: 20px;
  color: #bbbbbb;
}
