
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #0e1323 ;
  color: #fff;
   padding: 40px 20px; 
}


.footer-content h3 {
  margin-bottom: 15px;
  color: #04defa;
  font-size: 18px;
}

/* Quick Links */
.quick-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 18px;
}

.quick-links a:hover {
  color: #e47004;
  text-decoration: underline;
}

/* Social Media */
.social-links p {
  margin: 5px 0;
  font-size: 18px;
  color: white;
}

.social-links a {
  font-size: 22px;
}


/* Hire Me Section */
.hire-me-section {
  color: #fff;
}

.hire-me-section p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.6;
  color: #ddd;
}

.hire-me-btn {
  display: inline-block;
  background-color: #06e0fc;
  color: black;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}
.footer-content .social-links .bi-github{
   color: mediumslateblue; 
}
.footer-content .social-links .bi-whatsapp{
    color: rgb(3, 212, 3);
}
.footer-content .social-links .bi-linkedin{
    color: rgb(20, 20, 236);
}
.footer-content .social-links .bi-facebook{
    color: rgb(3, 139, 236);
}

.hire-me-btn:hover {
  background-color: #0097a7;
}
.bi-telephone-fill,.bi-envelope-fill{
  margin: 10px;
  font-size: 20px;
}
.bi-telephone-fill{
  color: #7df94c;
}
.bi-envelope-fill{
 color: lightcoral;
}


/* Responsive layout */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-content > div {
    width: 100%;
    margin: 10px;
  }
}



.footer-content h3 {
  margin-bottom: 1rem;
  color: #ffcc00;
}


/* Copyright style */
.copyright {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  color: #888;
  width: 100%;
}
