


  .hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e1323;
  color: white;
  padding: 80px 10%;
  position: relative;
  overflow: hidden;
}

.hero-left {
  max-width: 600px;
}

.hero-left h3 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.hero-left h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero-left h2.hero-subtitle {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.hero-desc {
  color: #bbb;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 1rem;
}

.btn.download-btn {
  padding: 12px 25px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
}

.btn.download-btn:hover {
  background-color: #fea116;
  color: #0e1323;
  border-color: #fea116;
}

.hero-right {
  position: relative;
}

.hero-image {
  max-height: 500px;
  width: auto;
  z-index: 1;
  position: relative;
}

.social-icons {
  position: absolute;
  right: -60px;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.social-icons a {
  background: #1c2236;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #444;
  transition: 0.3s;
}

.social-icons a:hover {
  background-color: #fea116;
  color: #0e1323;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-right {
    margin-top: 2rem;
  }

  .social-icons {
    position: static;
    flex-direction: row;
    justify-content: center;
    transform: rotate(0);
    margin-top: 20px;
  }
}
